docker:
  lookup:
    # see defaults.yaml for values, the options listed here
    service: docker
    package: docker-ce

    package_dependencies:
      - apt-transport-https
      - ca-certificates
      - curl
      - software-properties-common

    # where standalone container scripts are stored.
    path:
      windows:
      osx:
      linux: /etc/docker

    release:
      reference_doc: https://docs.docker.com/install/linux/docker-ce/ubuntu/

  standalone:
    # List of standalone container scripts to build.
    # Name is container name in docker.
    plex:
      container: plexinc/pms-docker:plexpass
      options:
        network: host
        restart: unless-stopped
      environment:
        PLEX_UID: 999
        PLEX_GID: 5555
        TZ: America/Los_Angeles
      volumes:
        - /etc/localtime:/etc/localtime:ro
        - /data/services/plexmediaserver:/config
        - /data/media:/data/media:ro
        - /tmp:/transcode
        - /data/downloads:/data/downloads
    transmission:
      container: linuxserver/transmission:latest
      options:
        network: bridge
        restart: unless-stopped
      ports:
        - 9092:9092
        - 49160:49160
        - 49160:49160/udp
      environment:
        PUID: 999
        PGID: 5555
        TZ: America/Los_Angeles
      volumes:
        - /etc/localtime:/etc/localtime:ro
        - /data/services/transmission:/config
        - /data/downloads:/downloads
        - /data/downloads/watched:/watch
